.ItemDetail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2vmin;
  color: var(--text-light);
  background-color: var(--white);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  font-size: 4vmin;
}

.ItemDetail .emoji {
  height: 8vw;
  width: 8vw;
  font-size: 4vw;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

.ItemDetail .buy {
  display: flex;
  flex-direction: column;
}

.ItemDetail .buy span {
  font-size: 1.7vw;
  text-align: center;
  color: var(--text-light);
}

.ItemDetailPage .name {
  font-size: 2vw;
  text-align: center;
  color: var(--text-light);
}
