.s-row {
  border: 1px solid black;
  min-height: 100vh;
  margin: 20px 0;
  display: flex;
}

.s-col:first-child {
  flex: 1;
  border: 1px solid black;
}

s-col:last-child {
  flex: 4;
  border: 1px solid black;
}
/* .NewOrderPage {
  height: 100%;
  display: grid;
  grid-template-columns: 1.6fr 3.5fr 3fr;
  grid-template-rows: 1fr;
  background-color: var(--white);
  border-radius: 2vmin;
}

.NewOrderPage aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3vmin 2vmin;
} */