/* .shop-row:first-child {
  display: flex;
}

.shop-col:first-child {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.shop-col:first-child h2 {
  letter-spacing: 2px;
  margin-top: 25px;
}

.shop-col:last-child {
  flex: 5;
}

.shop-costumes {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
} */



.NewOrderPage {
  height: 100%;
  display: grid;
  grid-template-columns: 1.6fr 3.5fr 3fr;
  grid-template-rows: 1fr;
  background-color: var(--white);
  border-radius: 2vmin;
}

.NewOrderPage aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3vmin 2vmin;
}