.OrderDetail {
  display: grid;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 3vmin;
  font-size: 2vmin;
  color: var(--text-light);
}

.OrderDetail .section-heading {
  width: 32.3%;
  float: right;
  padding-left: 51vmin;
  margin-left: 110vmin;
  margin-top: -177vmin;
  margin-right: 0;
}

.OrderDetail > .line-item-container {
  padding-left: 110vmin;
  margin-top: -90vmin;
  justify-content: space-between;
  height: calc(100vh - 18vmin);
  width: 93.8%;
}

.OrderDetail .total {
  width: 100%;
  display: grid;
  grid-template-columns: 18.35vw 5.75vw 5.25vw;
  padding: 1vmin 0;
  color: var(--text-light);
  border-top: .1vmin solid var(--tan-3);
}

.OrderDetail .total span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  color: var(--text-dark);
}

.OrderDetail .total span.right {
  display: flex;
  justify-content: flex-end;
}

.OrderDetail .scared {
  position: absolute;
  top: 50vh;
  font-size: 2vmin;
}
