.CategoryList {
  color: var(--text-light);
  list-style: none;
  padding: 3vmin;
  margin: 3vmin;
  font-size: 1.7vw;
}

.CategoryList li {
  padding: .6vmin;
  text-align: center;
  border-radius: .5vmin;
  margin-bottom: .5vmin;
}
    
.CategoryList li:hover:not(.active) {
  cursor: pointer;
  background-color: var(--pink);
  color: var(--white);
}

.CategoryList li.active {
  color: var(--text-dark);
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
}