.home-bg {
  background-image: url(https://i.imgur.com/xYoAfuM.png);
  height: 92vh;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.star-icon {
  margin-left: 10px;
  display: inline-block;
}